*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Karla";
}

body {
  display: grid;
  place-content: center;
  color: hsl(187, 24%, 22%);
  background-color: hsl(148, 38%, 91%);
  padding-block: 2rem;
}

.success {
  position: fixed;
  top: 1%;
  align-self: center;
  margin: 0 0 0 0;
  font-size: 10px;
  color: hsl(0, 0%, 100%);
  padding: 10px;
  background-color: hsl(187, 24%, 22%);
  border-radius: 5px;
  z-index: 100;
  visibility: hidden;
}

.success-heading {
  display: flex;
  flex-direction: row;
  margin: 0 0 10px 0;
}

.success-icon {
  width: 10px;
  margin: 0 5px 0 0;
}

.main-container {
  display: grid;
  gap: 20px;
  width: 100%;
  padding: 5%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}

.form-heading {
  margin: 0 0 10px 0;
}

label {
  display: block;
  margin: 0 0 10px 0;
  font-size: 16px;
}

.field-container {
  display: flex;
  flex-direction: column;
}

.text-input {
  font-family: Karla;
  font-size: 16px;
  width: 100%;
  height: 50px;
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 5px;
  cursor: pointer;
}

.text-input:focus {
  outline: none;
}

.radio-column {
  font-family: Karla;
  font-size: 16px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 5px;
  cursor: pointer;
}

#request {
  margin: 10px 0 0 0;
}

.radio {
  margin: 0 10px;
}

.radio:hover {
  cursor: pointer;
}

.consent-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.textarea {
  font-family: Karla;
  resize: none;
  width: 100%;
  height: 250px;
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 5px;
  cursor: pointer;
}

.textarea:focus {
  outline: none;
}

.consent-row {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.consent-checkbox {
  cursor: pointer;
}

.consent-text {
  font-size: 16px;
  margin: 0 0 0 5px;
  cursor: pointer;
}

.error-text {
  font-size: 10px;
  color: hsl(0, 66%, 56%);
  margin: 3px 0 0 0;
  width: fit-content;
  display: none;
}

.submit-button {
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  padding: 15px 0;
  width: 100%;
  background-color: hsl(169, 82%, 27%);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.submit-button:hover {
  background-color: hsl(187, 24%, 22%);
}

@media (min-width: 1440px) {
  body {
    height: 100vh;
  }

  .main-container {
    max-width: 60rem;
    min-width: 40rem;
    height: fit-content;
  }

  .field-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .column {
    width: 49%;
  }

  .text-input {
    height: 40px;
  }

  .radio-column {
    height: 40px;
    width: 49%;
  }

  .textarea {
    height: 150px;
  }

  #request {
    margin: 0;
  }
}
